$c-dark: #242B33;
$c-main: #D4C17F;

%header-item {
	font-size: 14px;
	letter-spacing: 0.12em;
	transition: .3s;
}
%numb {
	font-family: "Playfair Display";
    font-size: 400px;
    color: #fff;
    opacity: 0.02;
    position: absolute;
    display: inline-block;
}
%title {
	font-family: "Playfair Display";
	font-size: 25px;
	color: $c-main;
}
%inputtext {
	font-size: 14px;
	color: #000;
	background: #fff;
	opacity: 0.2;
	outline: none;
	padding: 10px;
}
%inputsubmit {
	border: none;
	outline: none;
	color: #fff;
	background: $c-main;
	padding: 15px;
	transition: 1s;
}