.header	{
	background: $c-dark;
	font-family: "Raleway", sans-serif;
	color: #fff;

	&Wrapper {
	    display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		padding-top: 30px;

		&-text {
			font-size: 12px;
			letter-spacing: 0.12em;
			margin-top: 15px;
		}
	}

	&__nav {
		display: none;

		@media (min-width: 992px) {
			display: block;
		}

		&-item {
			@extend %header-item;
			margin-left: 40px;

			&:hover {
				color: $c-main;
				text-decoration: none;
			}
		}
	}

	&__mobile {
		position: relative;

		&:hover .header__mobile-nav {
			opacity: 1;
			visibility: visible;
		}

		@media (min-width: 992px) {
			display: none;
		}

		&-burger {
			font-size: 25px;
			font-weight: bold;
			cursor: pointer;
		}

		&-nav {
			position: absolute;
			right: 0;
			display: flex;
			flex-direction: column;
			transition: .5s;
		    opacity: 0;
		    visibility: hidden;
		}

		&-item {
			@extend %header-item;
			padding: 5px;

			&:hover {
				color: $c-main;
			}
		}
	}
}
